@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: white;
  color: black;
  scroll-behavior: smooth;
  background-repeat: no-repeat;
}



nav {
  width: 100%;
  height: 10vh;
  background: transparent;
  position: relative;
}

.nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1rem;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.logo span {
  color: black;
}

.links {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.link a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  position: relative;
}

.link a::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #9ee8a7;
  transition: 0.3s ease;
  border-radius: 100px;
}

.link a:hover::before {
  width: 100%;
}

.link a:hover {
  color: #9ee8a7;
}

.login-btn {
  background-color: #9ee8a7;
  border-radius: 20px;
  padding: 5px 20px;
  border: 2px solid white;
  transition: 0.2s ease;
}

.login-btn a {
  color: white;
}

.login-btn:hover {
  background-color: #79e3f7;
}

.login-btn:hover a {
  color: black;
}


.welcome-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.welcome-section {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.welcome-section p {
  font-size: 1.4rem;
  color: #fff;
  margin-bottom: 8rem;
}

.phone {
  margin-top: -7rem;
}

@media (max-width: 768px) {
  .links {
    display: none;
  }

  .logo {
    font-size: 1.5rem;
  }
}

.cards {
    display: flex;
}

.card {
    width: 300px;
    height: 250px;
    background-color: white;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 30px;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

.card h2 {
    margin: 0 0 10px;
}

.card p {
    color: #555;
}

i{
  display: inline;
  font-size: inherit;
  margin-bottom: 25px;
  cursor: pointer;
}

.card span{
  margin-right: 15px;
}

.card img{
  width: 100%;
  height: 40%;
  flex: 1;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-conetnt {
  flex: 1;
  padding: 1rem;
}

#about{
  margin-left: 200px;
  margin-top: 150px;
}

#about img{
  float: right;
  height: 500px;
  width: 600px;
  margin-right: 125px;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

#about .rights{
  margin: 0 auto;
}

#myvideo {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: 0;
}

#home {
  position: relative;
  width: 100%;
  height: 100vh;  /* Full screen */
  overflow: hidden;
}

#home::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.6); 
  z-index: 1; 
}

#about {
  margin-top: 13rem;
}

.form-container {
  position: absolute;
  width: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  background: #fff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.form_close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #0b0217;
  font-size: 22px;
  opacity: 0.7;
  cursor: pointer;
}

.form_container h2 {
  font-size: 22px;
  color: #0b0217;
  text-align: center;
}

.input_box {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
}

.input_box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1.5px solid #aaaaaa;
  padding: 0 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.input_box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}


.input_box i.password {
  left: 0;
  color: #707070;
}

.input_box input:focus ~ i.email,
.input_box input:focus ~ i.pw_hide,
.input_box input:focus ~ i.password {
  color: #7d2ae8;
}
 
.input_box i.pw_hide {
  right: 0;
  font-size: 18px;
  cursor: pointer;
}

.input_box i.email {
  left: 0;
  color: #707070;
  cursor: pointer;
}

.option_field {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-container a {
  color: #7d2ae8;
  font-size: 12px;
}

.form-container a:hover {
  text-decoration: underline;
}

.checkbox {
  display: flex;
  white-space: nowrap;
  font-size: 12px;
  column-gap: 8px ;
}

.checkbox input {
  accent-color: #7ceae8 ;
}

.checkbox label {
  font-size: 12px;
  cursor: pointer;
  user-select: none;
  color: #0b0217;
}

.form-container .button {
  background: #7d2ae8;
  margin-top: 30px;
  width: 100%;
  padding: 12px 0;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  transition: 0.3s ease-in;
}

.form-container .button::after {
  content: "";
  left: 0; bottom: 0;
  width: 0%;
  height: 100%;
  z-index: -1;
  background-color: #7ceae8;
  transition: 0.3s ease-in;
  position: absolute;
}

.form-container .button:hover::after {
  width: 100%;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.form-container.closed {
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -60%);
}
